.card{
    margin-bottom: 25px;
    text-emphasis: none;
    max-width: 250px;
}
.cardBody{
    
    min-height: 150px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid;
    padding: 5px;
    margin: 5px;
 
    padding-bottom: 20px;
}
.cardBody h3{
    text-align: left;
    font-size: 30px;
}
.cardBody p{
    font-family: 'Times New Roman', Times, serif;
}
.tags{
    display: flex;
    flex-direction: row;
    max-width: 100%;
}

.cardFooter{
    display: flex;
    justify-content: space-between;
}